FinalWorkflow.json
{
  "name": "FinalWorkflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Polish M&A advisory firm",
        "formDescription": "Getting leads for a Polish M&A advisory firm.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "placeholder": "JohnDoeCompany",
              "requiredField": true
            },
            {
              "fieldLabel": "Website",
              "placeholder": "johndoe.com",
              "requiredField": true
            },
            {
              "fieldLabel": "User Message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Next Page",
          "path": "collect-leads",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you for filling this form, you may close this window."
            }
          },
          "ignoreBots": false,
          "useWorkflowTimezone": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -976,
        944
      ],
      "id": "a177e00b-d1ee-4cf4-b1e0-c249fdd0bb1f",
      "name": "Lead Capture Form",
      "webhookId": "46a9a972-494d-40a4-aa84-fe419a63b509",
      "notesInFlow": true,
      "notes": "Trigger node that activates when a new lead submits the form."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LWuWcquMsotbHxJc0yKDlGer5AhFo_-BSRpUXNOduJQ",
          "mode": "list",
          "cachedResultName": "n8n_collected_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LWuWcquMsotbHxJc0yKDlGer5AhFo_-BSRpUXNOduJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LWuWcquMsotbHxJc0yKDlGer5AhFo_-BSRpUXNOduJQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "={{ $json.message.content.domain }}",
            "Company Name": "={{ $json.message.content.company_name }}",
            "User Message": "={{ $json.message.content.user_message }}",
            "country": "={{ $json.message.content.country }}",
            "employee count": "={{ $json.message.content.employee_count }}",
            "AI score + justification": "={{ $json.message.content.ai_score_and_justification }}",
            "pass/fail flag": "={{ $json.message.content.pass_fail_flag }}",
            "High-Fit flag": "={{ $json.message.content.high_fit_flag }}"
          },
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User Message",
              "displayName": "User Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employee count",
              "displayName": "employee count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI score + justification",
              "displayName": "AI score + justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pass/fail flag",
              "displayName": "pass/fail flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "High-Fit flag",
              "displayName": "High-Fit flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        544,
        944
      ],
      "id": "9bb820c6-b487-4279-9b4b-122802c3af98",
      "name": "Write to Google Sheet",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WaoFqypyxY7A5Zlx",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Appends new rows or updates existing ones in Google Sheets using 'Website' as the matching column."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2e178b7-9557-4571-a41a-2b5fe5b93645",
              "name": "Client Company Name",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "32f925fb-4e45-44d6-a226-30d08665f9d4",
              "name": "Client Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "submittedAt, formMode, ['Company Name'], Website",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        944
      ],
      "id": "a8e2fa99-7bf4-4771-8c4d-149ec68ee45c",
      "name": "Normalize Input Fields",
      "notes": "Standardizes and renames form fields for consistency."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c75510-8f54-4066-9c67-167c7f246e22",
                    "leftValue": "={{ (Math.random()) }}",
                    "rightValue": 0.25,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Big Company"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "454caaf6-2746-4845-9fa8-c09c3916ad8f",
                    "leftValue": "={{ (Math.random()) }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Small Company"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -528,
        928
      ],
      "id": "81914534-ed59-4fda-b895-918171d8a113",
      "name": "Mock Company Size Switch",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput",
      "notes": "Randomly routes input to simulate company size for testing purposes."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"clearbit\": {\n    \"name\": \"{{ $json['Client Company Name'] }}\",\n    \"domain\": \"{{ $json['Client Website'] }}\",\n    \"employees\": 6,\n    \"industry\": \"HealthTech\",\n    \"tags\": [\"healthtech\", \"early-stage\"],\n    \"location\": \"Gdańsk, Poland\",\n    \"foundedYear\": 2023\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1040
      ],
      "id": "fd997f4b-5b41-460c-bc04-b7df87e50fb8",
      "name": "Mock Small Startup A",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "notes": "Mock data for a small startup with few employees."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"clearbit\": {\n    \"name\": \"{{ $json['Client Company Name'] }}\",\n    \"domain\": \"{{ $json['Client Website'] }}\",\n    \"employees\": 1200,\n    \"industry\": \"AI\",\n    \"tags\": [\"ai\", \"enterprise\", \"cloud\"],\n    \"location\": \"San Francisco, USA\",\n    \"foundedYear\": 2015\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        656
      ],
      "id": "00cdf05a-94b6-49a7-8b02-78b981b65b46",
      "name": "Mock Big Company A",
      "notesInFlow": true,
      "notes": "Mock data for a large company with many employees."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5ba5ff2-f403-4498-8e58-b30b05c11762",
              "leftValue": "={{ $json.clearbit.location.toLowerCase() }}",
              "rightValue": "poland",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9f951b16-9d72-44bf-8647-384b009dca92",
              "leftValue": "={{ $json.clearbit.employees }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        944
      ],
      "id": "19955d8b-6b00-4476-9ad7-fc8919f0ebe2",
      "name": "Target Criteria Filter",
      "notes": "Checks if the company meets basic M&A criteria: Polish location and more than 25 employees."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"clearbit\": {\n    \"name\": \"{{ $json['Client Company Name'] }}\",\n    \"domain\": \"{{ $json['Client Website'] }}\",\n    \"employees\": 2000,\n    \"industry\": \"AI\",\n    \"tags\": [\"ai\", \"enterprise\", \"cloud\"],\n    \"location\": \"Krakow, Poland\",\n    \"foundedYear\": 2015\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        848
      ],
      "id": "540e8f43-1bae-49fc-be68-401345d7dc57",
      "name": "Mock Big Company B",
      "notesInFlow": true,
      "notes": "Alternative mock data for a large company."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"clearbit\": {\n    \"name\": \"{{ $json['Client Company Name'] }}\",\n    \"domain\": \"{{ $json['Client Website'] }}\",\n    \"employees\": 31,\n    \"industry\": \"HealthTech\",\n    \"tags\": [\"healthtech\", \"early-stage\"],\n    \"location\": \"Gdańsk, Poland\",\n    \"foundedYear\": 2023\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1232
      ],
      "id": "3f5bf448-4e94-4d21-be82-486f53527bf0",
      "name": "Mock Small Startup B",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "notes": "Alternative mock data for a small startup."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are evaluating inbound leads for a Polish M&A advisory firm.\nBased on the company name, website, and user message, score this lead from 1-10 for fit with a B2B SaaS investor. Include a one-sentence reason. Return a clean JSON object suitable for writing directly to a Google Sheet. Include only the following fields and appropriate values:\n\n- company_name\n- domain\n- industry\n- employee_count\n- country (extract only the country from the location string)\n- user_message (this is from the inbound lead form)\n- ai_score_and_justification (evaluate relevance of company to M&A target criteria, give score out of 100 and explain why)\n- pass_fail_flag (true/false)\n- high_fit_flag (true if company is an excellent fit, based on your judgment)\nHere is the data to evaluate:\nUser message: {{ $json['User Message'] }}\nCompany Name: {{ $json.clearbit.name }}\nCompany Website: {{ $json.clearbit.domain }}\nNumber of employees:{{ $json.clearbit.employees }}\nIndustry:{{ $json.clearbit.industry }}\nLocation: {{ $json.clearbit.location }}\nFoundedYear: {{ $json.clearbit.foundedYear }}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        144,
        944
      ],
      "id": "a4ff20c9-a9b1-4ff5-8106-ebbc539fb063",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "HUAZsgxMaExXzixo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Capture Form": {
      "main": [
        [
          {
            "node": "Normalize Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input Fields": {
      "main": [
        [
          {
            "node": "Mock Company Size Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Company Size Switch": {
      "main": [
        [
          {
            "node": "Mock Big Company A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Big Company B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Small Startup A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Small Startup B",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mock Small Startup A": {
      "main": [
        [
          {
            "node": "Target Criteria Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Big Company B": {
      "main": [
        [
          {
            "node": "Target Criteria Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Big Company A": {
      "main": [
        [
          {
            "node": "Target Criteria Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Small Startup B": {
      "main": [
        [
          {
            "node": "Target Criteria Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target Criteria Filter": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Write to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33798c33-de8b-448f-93c3-ab76c0c50f08",
  "meta": {
    "instanceId": "da304d8e345e6a6372efe6a610ad71d0184de1663c5a1439b6c3d0cd7698bb19"
  },
  "id": "nSL5hsPW9zg8kJO9",
  "tags": []
}